@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Registration Page of Sourajit Datta</h1>
    <p><a href="https://github.com/Soura1204"> Visit My GitHub </a></p>
</div>
